body
  font: 13.34px/1.4 helvetica, arial, clean, sans-serif
  margin: 0

*
  box-sizing: border-box

.container
  max-width: 48em
  margin: 40px auto
  padding: 0 10px

a
  color: #00a
  &:visited
    color: #a0a